*{
    margin: 0px;
    padding: 0px;
}

.corpo_site{
    color: blanchedalmond;
    background-color: aliceblue;
}

.cabeçalho{
    text-align: center;
}

.cabeçalho_titulo{
    font-size: 30px;
}

.paragrafo_introduçao{
    text-align: center;
    text-align: justify;
}