*{
    margin: 0px;
    padding: 0px;
}

.corpo_site{
    color: rgb(21, 97, 128);
    background-color: aliceblue;
}

.cabeçalho{
    text-align: center;
}

.cabeçalho_titulo{
    font-size: 100px;
}
.cabeçalho_subtitulo{
    font-size: 100px;

}
.introduçao{
    text-align: center;
    text-align:justify ;
    padding: 15px;
}
    

.paragrafo_introduçao{
    text-align: center;
    text-align: justify;
    font-size: 70%;
}

.foto_turma{
    width: 60%;
}

.paginassecundarias{
    display: inline-block;
    font-size: 20px;
    justify-content: space-around;
    
    
}
